# LetsUpgrade Python Essentials

## Python Basics

In [4]:
#print statement
print("Hello there,'how are you ?' !")

Hello there,'how are you ?' !

In [7]:
#escape sequence
print("this is a \t tab")
print("this is a \n new line")
print("""I can write a really long string ibdjisfbisbfkabsdiabfiafbf
sdfjfhgsdhjfakafk kabf ihfbdAKD kbashvfj vsf """)

this is a 	 tab
this is a
 new line
I can write a really long string ibdjisfbisbfkabsdiabfiafbf
sdfjfhgsdhjfakafk kabf ihfbdAKD kbashvfj vsf

In [8]:
print('this is Iniyan\'s notebook')

this is Iniyan's notebook

In [15]:
#f string
name = "Iniyan"
age = 22
object ="notebook"
print(f"This is {name}'s {object} , {name} is {age} years old.")

This is Iniyan's notebook , Iniyan is 22 years old.

use meaningful names for defining the variables

In [22]:
num1 = -5
print(id(num1))
num2 = -5
print(id(num2))
num1 is num2

140717734666448
140717734666448

True

In [23]:
num1 = 256
print(id(num1))
num2 = 256
print(id(num2))
num1 is num2

140717734674800
140717734674800

True

in the range of -5 to 256 the numbers are stored in same id
or two variables having the same value between the range will have same id number id()

arithmatic operator

In [28]:
print(5+5)
print(265-35)
print(2*65)
print(65/5)#quotient
print(65%5)#reminder
print(65//5)#floor
print(2**5)#power

10
230
130
13.0
0
13
32

comparision operator

In [29]:
a=100
b=105

In [30]:
a>b

False

In [31]:
a<b

True

In [32]:
a==b

False

In [33]:
a>=b

False

In [34]:
a<=b

True

In [35]:
a!=b

True

In [36]:
t = True
f = False

In [37]:
t and t

True

In [38]:
t and f

False

In [39]:
f and f

False

In [40]:
f and t

False

In [41]:
t or t

True

In [42]:
t or f

True

In [43]:
f or t

True

In [44]:
f or f

False

In [45]:
not f or f

True

In [46]:
not f and t

True

and , or , not

In [47]:
20+35/6*62

381.66666666666663